// color var
$green: #2aac63;
$lightgreen: #27ae61;
$lightergreen: #71ad8b;
$white: #f7f8fa;
$black: #000;
$gray: #a6aab4;
$darkblue: #232b40;
// font size var

$font-xsm: 0.8125rem;
$font-sm: 1rem;
$font-med: 1.4rem;
$font-lg: 3.85em;
